
.ri{
		height:200px;
		background-color:#5495e7;
		width: 1400px;
		margin-left: 8px;
	}
	img{
		height: 200px;
		background-color:#5495e7; 
	}
	.rii{
		height:150px;
		background-color:#5495e7;
		margin-left: 8px;
	}
	.r3{
		height:180px;
		background-color: #5495e7;
		color:white;
		width: 1397px;
		margin-left: 8px;
	}
	h1{
		color:white;
	}
	h6{
		color:white;
	}
	.r4{
		height:150px;
		background-color: #5495e7;
		width: 1397px;
		margin-left: 23px;
	}
	.r5{
		height:150px;
		background-color: white;
		border:1px solid white;
		width: 458px;

		


	}
	.c1{
		height:50px;
		background-color: white; 
		width: 1400px;
		margin-left: 10px;
	
	}
	b{
		color: skyblue;
		font-size: 25px;
		padding-left: 30px;
	}
	button{
		background-color: #5F9DF7;
		height: 30px;
		color: white;
		border-radius: 5px;
		border:1px solid white;
		
	}	.b3{
		background-color:white;
		color:#5F9DF7;
		height: 30px;
		width: 150px;
		border-radius: 5px;
		border:1px solid white;
		
	}	
	.i1{
		margin-left: 1300px;
		font-size: 25px;
		margin-top: 17px;
		float: right;
		position: relative;
	}
body{
	width:1440px;
}